extends ../layout

block content
  form(method='post').form-horizontal
    .form-group
      label(for='inputUsername').col-lg-1.control-label Username
      .col-lg-4
        input(id='inputUsername', placeholder='Username', type='text', name='inputUsername').form-control
    .form-group
      label(for='inputPassword').col-lg-1.control-label Password
      .col-lg-4
        input(id='inputPassword', placeholder='Password', type='password', name='inputPassword').form-control
    .form-group
      label(for='inputRole').col-lg-1.control-label Role
      .col-lg-4
        select(id='inputRole', name='inputRole').form-control
          option admin
          option teacher
          option student
    .form-group
      .col-lg-4.col-lg-offset-4
        button(type='submit').btn.btn-primary Submit
