extends ../layout

block content 
  form(method='post').form-horizontal
    input(type='hidden', name='id', value='#{changeUser._id}')
    .form-group
      label(for='inputNewPassword').col-lg-1.control-label New Password
      .col-lg-4
        input(id='inputNewPassword', placeholder='Password', type='password', name='inputNewPassword').form-control
    .form-group
      .col-lg-4
        button(type='submit').btn.btn-primary Submit
