extends ../layout

block content
  h3(style='text-align: center') Select your report style:
  ul.nav.pull-right: li.dropdown
        a.dropdown-toggle(href="#", data-toggle="dropdown") Reports
          | Example
          b.caret
        ul.dropdown-menu
            li
              a(href="#") label
            li
              a(href="#") blah
