extends ../layout

block content
  h2(style='text-align: center') Candidacy
  table.table.table-bordered
    thead
      tr
        th Last Name
        th First Name
        th Major
    tbody
      each student in students
        tr
          td #{student.LastName}
          td #{student.FirstName}
          td #{student.Major}
  h4(style='text-align: center') The students listed above have met the following requirements:
  ul.list-inline
      li EDUC 218 C or above
      li EDUC 225 C or above
      li Felony Statement
      li Provisional Acceptance
      li Application
      li Candidacy Interview
      li Recommendations
      li CORE Reading
      li CORE Writing
      li CORE Mathematics
      li So. Portfolio Completed
      li GPA 2.75 or above
