extends ../layout

block content
  h2(style='text-align: center') Template 4
  table.table.table-bordered
    thead
      tr
        th Last Name
        th First Name
        th Major
        th Meet Requirements
    tbody
      tr
        td Dylan
        td Smith
        td Computer Science
        td Yes
